#footer {
  background: #000; /* preto elegante */
  color: #fff; /* texto branco */
  padding: 20px 0;
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
  border-top: 1px solid #222; /* linha discreta */
}

#footer .footer-container p {
  margin: 4px 0;
  opacity: 0.85;
}

#footer .footer-container p strong {
  opacity: 1;
}